%h1 index
= link_to 'スクレイピング', new_concert_infos_path
%table.table.table-no-border
  %tr
    %th 演奏会名
    %th 楽団名
    %th ホール名
    %th 開演日時
    %th 指揮者
    %th 曲目
    %th URL
  - @concert_infos.each do |concert|
    %tr
      %td
        = concert.concert
      %td
        = concert.performer
      %td
        = concert.hall
      %td
        = concert.opening_time
      %td
        = concert.conductor
      %td
        = concert.music_titles
      %td
        = link_to(concert.performer_url, concert.performer_url, target: '_blank')
