%h1 index
= link_to 'スクレイピング', controller: 'concert_infos', action: 'new', data: { confirm: 'スクレイピングを開始しますか？' }
= search_form_for @search, url: { action: :index } do |f|
  %div
    = f.label :hall_prefecture_number_eq, '地域'
    = f.collection_select :hall_prefecture_number_eq, PrefectureMaster.all, :id, :name, { include_blank: 'すべて' }, { class: 'chosen-select' }
    %span.hall_names
      = render partial: 'hall_name', locals: { search: @search, prefecture_id: @prefecture_id }
    = f.label :tactdown_time_cont, '開催月'
    = f.date_field :tactdown_time_gteq
    = f.date_field :tactdown_time_lteq_end_of_day
    = f.submit '検索'
  %div
    - ids = @concert_infos.pluck(:id)
    = link_to_if ids.present?, '検索結果をExcelにしてダウンロード', export_path(format: :xlsx, concert_info_ids: ids)
  %div
    = link_to_if ids.present?, '検索結果をメール用文章にしてダウンロード', export_path(format: :text, concert_info_ids: ids)
%table.table.table-no-border
  %tr
    %th 演奏会名
    %th ホール名
    %th 日程
    %th 曲目
    %th ＨＰ
  - @concert_infos.each do |concert|
    %tr
      %td.concert_info_title
        = concert.title.html_safe
      %td.concert_info_hall
        = concert.hall
        %br
        = "#{concert.hall_prefecture} #{concert.hall_ward}"
      %td.concert_info_schedule
        = concert.schedule.html_safe
      %td.concert_info_music_title
        = concert.music_title.html_safe
      %td.concert_info_link
        = concert.performer_page_link
