:coffee
  $(document).on 'click', '.xxx', ->
    $('#a-modal').modal 'show'

= link_to 'スクレイピング', controller: 'concert_infos', action: 'new', data: { confirm: 'スクレイピングを開始しますか？' }

%div.container.text-center
  %h1.xxx アイネク
  %p 挟み込みリスト自動作成サービス

%a.btn.btn-primary.btn-lg.xxx
  検索する

#a-modal.modal.fade
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3#modal_label 検索する
      %div.modal-body
        = search_form_for @search, url: { action: :index }, class: 'form-horizontal' do |f|
          = f.label :hall_prefecture_number_eq, '地域：'
          = f.collection_select :hall_prefecture_number_eq, PrefectureMaster.all, :id, :name, { include_blank: '全て' }, { class: 'chosen-select' }
          %div.hall_names
            = render partial: 'hall_name', locals: { search: @search, prefecture_id: @prefecture_id }
          = f.label :tactdown_time_cont, '期間：'
          = f.date_field :tactdown_time_gteq
          %span ~
          = f.date_field :tactdown_time_lteq_end_of_day
          %div
            = f.submit 'この条件で検索', class: 'btn btn-default center-block search_confirm_button'

    -# %div.col-md-6.col-sm-6.col-xs-6.container_min_width
    -#   %div.panel.panel-default
    -#     - ids = @concert_infos.pluck(:id)
    -#     %div.panel-heading
    -#       Step2.リストにしてダウンロード
    -#     %div.panel-body
    -#       %ul.list-group
    -#         %li.list-group-item
    -#           = link_to_if ids.present?, '印刷用フォーマットに加工してダウンロード(Excel)', export_path(format: :xlsx, concert_info_ids: ids)
    -#         %li.list-group-item
    -#           = link_to_if ids.present?, 'メール用文章に加工してダウンロード', export_path(format: :text, concert_info_ids: ids)

%div.container-fluid
  %table.table.table-no-border
    %tr
      %th 演奏会名
      %th ホール名
      %th 日程
      %th 曲目
      %th ＨＰ
    - @concert_infos.each do |concert|
      %tr
        %td.concert_info_title
          = simple_format(concert.title)
        %td.concert_info_hall
          = concert.hall
          %br
          = "#{concert.hall_prefecture} #{concert.hall_ward}"
        %td.concert_info_schedule
          = simple_format(concert.schedule)
        %td.concert_info_music_title
          = simple_format(concert.music_title)
        %td.concert_info_link
          = concert.performer_page_link
