:coffee
  $(document).on 'click', '.aaa', ->
    $('#a-modal').modal 'show'
    $('#q_hall_prefecture_number_eq_chosen > div > div > input[type="text"]').attr('placeholder','名前を入力して検索')
    $('#q_hall_number_eq_chosen > div > div > input[type="text"]').attr('placeholder','名前を入力して検索')

  $(document).on 'click', '.bbb', ->
    $('#b-modal').modal 'show'

  jQuery ->
    jQuery(window).scroll ->
      obj_t_pos = jQuery('#scroll_target').offset().top
      scr_count = jQuery(document).scrollTop()
      if scr_count > obj_t_pos
        $('#concert_info_tbody').addClass 'tbody_margin'
        $('#affix_target').addClass 'affix'
        $('#affix_target').removeClass 'affix_top'
      else
        $('#concert_info_tbody').removeClass 'tbody_margin'
        $('#affix_target').removeClass 'affix'
        $('#affix_target').addClass 'affix_top'

= link_to 'スクレイピング', controller: 'concert_infos', action: 'new', data: { confirm: 'スクレイピングを開始しますか？' }

%div.container.text-center.font_white
  %h1.title_font_size.title_margin
    %strong アイネク
  %h2 オーケストラ用の挟み込みリストを簡単に作成することができます。

%div.container.text-center.button_margin
  %a.btn.btn-info.btn-lg.aaa
    .button_font_size
      条件を指定して演奏会を絞り込む
  %a.btn.btn-success.btn-lg.bbb
    .button_font_size
      絞り込み結果をファイルにして保存

= search_form_for @search, url: { action: :index }, class: 'form-horizontal' do |f|
  #a-modal.modal.fade
    %div.modal-dialog
      %div.modal-content
        %div.modal-header.text-center.bg-info
          %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'modal', :type => 'button'} ×
          %h3#modal_label 検索条件を設定してください。
        %div.modal-body
          = f.label :hall_prefecture_number_eq, '　　地域を選ぶ：', class: 'modal_a_left_margin'
          = f.collection_select :hall_prefecture_number_eq, PrefectureMaster.all, :id, :name, { include_blank: '全ての都道府県　　　　' }, { class: 'chosen-select' }
          %div.hall_names
            = render partial: 'hall_name', locals: { search: @search, prefecture_id: @prefecture_id }
          = f.label :tactdown_time_cont, '期間を指定する：', class: 'modal_a_left_margin'
          = f.date_field :tactdown_time_gteq
          %span 〜
          = f.date_field :tactdown_time_lteq_end_of_day
        %div.modal-footer.bg-info
          = f.submit 'この条件で検索', class: 'btn btn-primary'
          %button.btn.btn-default{'aria-hidden' => 'true', 'data-dismiss' => 'modal', :type => 'button'} 閉じる

#b-modal.modal.fade
  %div.modal-dialog
    %div.modal-content
      - ids = @concert_infos.pluck(:id)
      %div.modal-header.text-center.bg-success
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3#modal_label 保存形式を選んでください。
      %div.modal-body.text-center
        %ul.list-group
          %li.list-group-item
            = link_to_if ids.present?, '演奏会一覧をそのままダウンロード(Csv)', export_path(format: :csv, concert_info_ids: ids)
          %li.list-group-item
            = link_to_if ids.present?, '印刷用フォーマットに加工してダウンロード(Excel)', export_path(format: :xlsx, concert_info_ids: ids)
          %li.list-group-item
            = link_to_if ids.present?, 'メール用文章に加工してダウンロード(Text)', export_path(format: :text, concert_info_ids: ids)
      %div.modal-footer.bg-success
        %button.btn.btn-default{'aria-hidden' => 'true', 'data-dismiss' => 'modal', :type => 'button'} 閉じる

%div{ id: 'scroll_target' }
  %div.container-fluid.table_font_size.affix_top{ id: 'affix_target' }
    %table.table.non_margin_bottom
      %thead.thead_background
        %tr
          %th.concert_info_title 演奏会名
          %th.concert_info_hall ホール名
          %th.concert_info_schedule 日程
          %th.concert_info_music_title 曲目
          %th.concert_info_link ＨＰ

%div.container-fluid.table_font_size
  %table.table{ id: 'concert_info_tbody' }
    - @concert_infos.each do |concert|
      %tbody.tbody_background
        %tr
          %td.concert_info_title
            = simple_format(concert.title)
          %td.concert_info_hall
            = simple_format(concert.hall_region)
          %td.concert_info_schedule
            = simple_format(concert.schedule)
          %td.concert_info_music_title
            = simple_format(concert.music_title)
          %td.concert_info_link
            = concert.performer_page_link
