%h1 index
= link_to 'スクレイピング',  {:controller => 'concert_infos', :action => 'new'}, data: {confirm: 'スクレイピングを開始しますか？'}
= search_form_for @search, url: {action: :index} do |f|
  %div
    = f.label :hall_prefecture_cont, '地域'
    = f.collection_select :hall_prefecture_cont, HallPrefectureMaster.all, :id, :name, include_blank: 'すべて'
    %div.hall-area
      = render partial: 'hall_name', locals: { search: @search, prefecture_id: 1 }
    = f.label :tactdown_time_cont, '開催月'
    = f.date_field :tactdown_time_gteq, placeholder: 'YYYY/MM/DD'
    = f.date_field :tactdown_time_lteq_end_of_day, placeholder: 'YYYY/MM/DD'
    = f.submit "Search"
%table.table.table-no-border
  %tr
    %th 演奏会名
    %th ホール名
    %th 開演日程
    %th 曲目
    %th リンク
  - @concert_infos.each do |concert|
    %tr
      %td
        = "【#{concert.performer}】"
        %br
        = concert.concert
      %td
        = concert.hall
        %br
        = "#{concert.hall_prefecture} #{concert.hall_ward}"
      %td
        = concert.opening_time
        %br
        = concert.tactdown_time
      %td
        = concert.music_titles.html_safe
      %td
        = link_to('楽団サイト', concert.performer_url, target: '_blank')
