%h1 index
= link_to 'スクレイピング',  {:controller => 'concert_infos', :action => 'new'}, data: {confirm: 'スクレイピングを開始しますか？'}
= search_form_for @search, url: {action: :index} do |f|
  %div
    = f.label :concert_cont, '演奏会名'
    = f.text_field :concert_cont
    = f.submit "Search"
%table.table.table-no-border
  %tr
    %th 演奏会名
    %th ホール名
    %th 開演日程
    %th 曲目
    %th リンク
  - @concert_infos.each do |concert|
    %tr
      %td
        = "【#{concert.performer}】"
        %br
        = concert.concert
      %td
        = concert.hall
        %br
        = "#{concert.hall_prefecture} #{concert.hall_ward}"
      %td
        = concert.opening_time
        %br
        = concert.tactdown_time
      %td
        = concert.music_titles.html_safe
      %td
        = link_to('楽団サイト', concert.performer_url, target: '_blank')
